

    <!-- Button trigger modal -->
<button type="button" id="createBtn" class="btn" data-bs-toggle="modal" data-bs-target="#staticBackdrop">
  Custom Subscription
</button>

<!-- Modal -->
<div class="modal fade" id="staticBackdrop" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h1 class="modal-title fs-5" id="staticBackdropLabel">Custom Subscription</h1>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
    <form id="addserviceForm">
        <div class="form-group">
         <label for="inputName">Name:</label>
            <input type="text" class="form-control" id="inputName" aria-describedby="emailHelp" placeholder="Enter Subscription Name">
        </div>
        <div class="form-group">
         <label for="inputPrice">Price:</label>
         <input type="number" step="0.01" min="0" class="form-control" id="inputPrice" placeholder="$9.99">
        </div>
        <div class="form-group">
         <label for="inputDue">Due Date:</label>
         <input type="number" class="form-control" id="inputDue" placeholder="">
        </div>
        <div class="form-group col-md-4">
            <label for="inputCat">Category</label>
            <select id="inputCat" class="form-control">
            <option value="0"selected>Choose...</option>
            <option value="1">TV/Movie</option>
            <option value="2">Music</option>
            <option value="3">Gaming</option>
            <option value="4">Personal</option>
            </select>
        </div>
        <div class="form-group">
         <label for="inputSubName">Account Username:</label>
            <input type="text" class="form-control" id="inputSubName" >
        </div>
        <div class="form-group">
         <label for="inputpassHelp">Password Hint:</label>
            <input type="text" class="form-control" id="inputpassHint">
        </div>
         <button type="submit" id="addserviceSubmit" class="btn btn-primary">Submit</button>
    </form>

      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>


<div id="pageContent">
   <div class="stagnant-bg">
    <div class="bg">
      <logo id="pro-logo-right">
    <img src="/images/company-logo.png" alt="Skriptz logo">
</logo>
        </div>
        </div>
  <section class="category-wrapper">
    <h3 class="category-title ">TV/Movies</h3>
    <div class="d-flex">
      <div class="serviceWrapper">
        <img class="serviceIcons" data-cata="1" src="images/netflix.webp">
        <h4>Netflix</h4>
      </div>
      <div class="serviceWrapper">
        <img class="serviceIcons" data-cata="1" src="/css/images/primevideo.webp">
        <h4>Prime Video</h4>
      </div>
      <div class="serviceWrapper">
        <img class="serviceIcons" data-cata="1" src="/css/images/hulu.webp">
        <h4>Hulu</h4>
      </div>
      <div class="serviceWrapper">
        <img class="serviceIcons" data-cata="1" src="/css/images/disney-plus.webp">
        <h4>Disney-Plus</h4>
      </div>
    </div>
  </section>
  <hr/>
  <section class="category-wrapper">
    <h3 class="category-title">Music</h3>
    <div class="d-flex">
      <div class="serviceWrapper">
        <img class="serviceIcons" data-cata="2" src="/css/images/apple-logo.webp">
        <h4>Apple Music</h4>
      </div>
      <div class="serviceWrapper">
        <img class="serviceIcons" data-cata="2" src="/css/images/spotify.webp">
        <h4>Spotify</h4>
      </div>
      <div class="serviceWrapper">
        <img class="serviceIcons" data-cata="2" src="/css/images/amazon-logo.webp">
        <h4>Amazon Music</h4>
      </div>
      <div class="serviceWrapper">
        <img class="serviceIcons" data-cata="2" src="/css/images/tidal-logo.webp">
        <h4>Tidal</h4>
      </div>
    </div>
  </section>
  <hr/>
  <section class="category-wrapper">
    <h3 class="category-title ">Gaming</h3>
    <div class="d-flex">
      <div class="serviceWrapper">
        <img class="serviceIcons" data-cata="3" src="/css/images/ps-logo.webp">
        <h4>PS Plus</h4>
      </div>
      <div class="serviceWrapper">
        <img class="serviceIcons" data-cata="3" src="/css/images/Xbox-logo.webp">
        <h4>Gamepass</h4>
      </div>
      <div class="serviceWrapper">
        <img class="serviceIcons" data-cata="3" src="/css/images/WoW-logo.webp">
        <h4>World of Warcraft</h4>
      </div>
      <div class="serviceWrapper">
        <img class="serviceIcons" data-cata="3" src="/css/images/Ubisoft-logo.webp">
        <h4>Ubisoft Plus</h4>
      </div>
    </div>
  </section>
  <hr/>
  <section class="category-wrapper">
    <h3 class="category-title">Personal</h3>
    <div class="d-flex">
      <div class="serviceWrapper">
        <img class="serviceIcons" data-cata="4" src="/css/images/6thSense-logo.webp">
        <h4>6th Sense Fishing</h4>
      </div>
      <div class="serviceWrapper">
        <img class="serviceIcons"  data-cata="4" src="/css/images/mimo-logo.webp">
        <h4>Mimo Coding</h4>
      </div>
      <div class="serviceWrapper">
        <img class="serviceIcons" data-cata="4" src="/css/images/dollar-shave-club-logo.jpeg">
        <h4>Dollar Shave Club</h4>
      </div>
      <div class="serviceWrapper">
        <img class="serviceIcons" src="/css/images/Bark-logo.webp">
        <h4>Bark Box</h4>
      </div>
    </div>
  </section>
</div>

<script src="/js/addservice.js"></script>