{{!-- <nav id="nav" class="navbar">
  <div id="title" class="container-fluid">
    <h1>Skriptz</h1>
  </div>
</nav>
<div id="addBody">
  <div id="sideNav">
    <ul id="navLinks">
        <a href="">Home</a>
        <a href="">Current Services</a>
        <a href="">Popular Services</a>
        <a href="">Upcoming Payments</a>
    </ul>
  </div>
  <div id="popContainer">

    <!-- Button trigger modal -->
<button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#staticBackdrop">
  Custom Subscription
</button> --}}

<!-- Modal -->
{{!-- <div class="modal fade" id="staticBackdrop" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h1 class="modal-title fs-5" id="staticBackdropLabel">Custom Subscription</h1>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
    <form>
        <div class="form-group">
         <label for="exampleInputEmail1">Name:</label>
            <input type="text" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Enter Subscription Name">
        </div>
        <div class="form-group">
         <label for="exampleInputPassword1">Price:</label>
         <input type="number" class="form-control" id="exampleInputPassword1" placeholder="$9.99">
        </div>
        <div class="form-group">
         <label for="exampleInputPassword1">Due Date:</label>
         <input type="number" class="form-control" id="exampleInputPassword1" placeholder="">
        </div>
        <div class="form-group col-md-4">
            <label for="inputState">Category</label>
            <select id="inputState" class="form-control">
            <option selected>Choose...</option>
            <option>TV/Movies</option>
            <option>Music</option>
            <option>Gaming</option>
            <option>Personal</option>
            </select>
        </div>
         <button type="submit" class="btn btn-primary">Submit</button>
    </form>

      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div> --}}


<div id="pageContent">
   <div class="stagnant-bg">
    <div class="bg">
      <logo id="pro-logo-right">
    <img src="/images/company-logo.png" alt="Skriptz logo">
</logo>
        </div>
        </div>
  <section class="category-wrapper">
    <h3 class="category-title gold ">TV/Movies</h3>
    <div class="d-flex">
      <div class="serviceWrapper">
        <img class="serviceIcons" src="images/netflix.webp">
        <h4>Netflix</h4>
      </div>
      <div class="serviceWrapper">
        <img class="serviceIcons" src="images/netflix.webp">
        <h4>Prime Video</h4>
      </div>
      <div class="serviceWrapper">
        <img class="serviceIcons" src="images/netflix.webp">
        <h4>Hulu</h4>
      </div>
      <div class="serviceWrapper">
        <img class="serviceIcons" src="images/netflix.webp">
        <h4>Disney-Plus</h4>
      </div>
    </div>
  </section>
  <hr/>
  <section class="category-wrapper">
    <h3 class="category-title gold ">Music</h3>
    <div class="d-flex">
      <div class="serviceWrapper">
        <img class="serviceIcons" src="images/netflix.webp">
        <h4>Apple Music</h4>
      </div>
      <div class="serviceWrapper">
        <img class="serviceIcons" src="images/netflix.webp">
        <h4>Spotify</h4>
      </div>
      <div class="serviceWrapper">
        <img class="serviceIcons" src="images/netflix.webp">
        <h4>Amazon Music</h4>
      </div>
      <div class="serviceWrapper">
        <img class="serviceIcons" src="images/netflix.webp">
        <h4>Tidal</h4>
      </div>
    </div>
  </section>
  <hr/>
  <section class="category-wrapper">
    <h3 class="category-title gold ">Gaming</h3>
    <div class="d-flex">
      <div class="serviceWrapper">
        <img class="serviceIcons" src="images/netflix.webp">
        <h4>PS Plus</h4>
      </div>
      <div class="serviceWrapper">
        <img class="serviceIcons" src="images/netflix.webp">
        <h4>Gamepass</h4>
      </div>
      <div class="serviceWrapper">
        <img class="serviceIcons" src="images/netflix.webp">
        <h4>World of Warcraft</h4>
      </div>
      <div class="serviceWrapper">
        <img class="serviceIcons" src="images/netflix.webp">
        <h4>Ubisoft Plus</h4>
      </div>
    </div>
  </section>
  <hr/>
  <section class="category-wrapper">
    <h3 class="category-title gold ">Personal</h3>
    <div class="d-flex">
      <div class="serviceWrapper">
        <img class="serviceIcons" src="images/netflix.webp">
        <h4>6th Sense Fishing</h4>
      </div>
      <div class="serviceWrapper">
        <img class="serviceIcons" src="images/netflix.webp">
        <h4>Mimo Coding</h4>
      </div>
      <div class="serviceWrapper">
        <img class="serviceIcons" src="images/netflix.webp">
        <h4>Dollar Shave Club</h4>
      </div>
      <div class="serviceWrapper">
        <img class="serviceIcons" src="images/netflix.webp">
        <h4>Bark Box</h4>
      </div>
    </div>
  </section>
</div>

