<h1 class="gold" id="dueTitle">Upcoming Payments</h1>
<div id="dueCard" class="card">
  <div class="card-body">
    <section>
    <h4>Netflix</h4>
    <ul >
        <li id="dueList">$9.99</li>
        <li id="dueList">Due: 5</li>
    </ul>
    </section>
  </div>
</div>
