

 <div class="card">
        <div id="dueItem" class="card-header h2 text-center">
            Profile
        </div>
        <div id="card-form" class="card-body d-flex justify-content-around align-items-center">
            <div class="col-2">
                <ul class="list-group list-group-flush">
                    <li id="dueItem" class="list-group-item random my-2 h2">First Name</li>
                    <li  class="list-group-item random"><input id="first-name"></li>
                </ul>
            </div>
              <div class="col-2">
                <ul class="list-group list-group-flush">
                    <li id="dueItem" class="list-group-item random my-2 h2 ">Last Name</li>
                    <li  class="list-group-item random"><input id="last-name"></li>
                </ul>
            </div>
             <div class="col-2">
                <ul class="list-group list-group-flush">
                    <li id="dueItem" class="list-group-item random my-2 h2 ">Username</li>
                    <li class="list-group-item random"><input id="user-name"></li>
                </ul>
            </div>
             <div class="col-2">
                <ul class="list-group list-group-flush">
                    <li id="dueItem" class="list-group-item random my-2 h2">Email
                    </li>
                    <li  class="list-group-item random"><input id="email"></li>
                </ul>
            </div>
           <div class="col-2">
                <ul class="list-group list-group-flush">
                    <li id="dueItem" class="list-group-item random my-2 h2">Password</li>
                    <li class="list-group-item random"><input id="pro-pswd"></li>
                </ul>
            </div>
                    <button id="submit-pro-btn" type="button" class="btn btn2 btn-outline-success">Submit Changes</button>
        </div>


    <div>
      <img id="pro-logo"  src="/images/company-logo.png" alt="Skriptz logo">
    </div>
 </div>
<script src="/js/profile.js" ></script>