{{!-- <h1> Hi, user.first_name</h1> --}}
<h1 id="header-pro">User Info:</h1>

<div class="stagnant-bg">

<div class="bg">


<logo id="pro-logo-right">
    <img src="/images/company-logo.png" alt="Skriptz logo">
</logo>
<logo id="pro-logo-left">
    <img src="/images/company-logo.png" alt="Skriptz logo">
</logo>

</div>
</div>
<form class="content">
  <label for="first_name">First name:</label>

  <input class="input-pro" type="text" id="first_name" name="first_name"><br><br>

  <label for="last_name">Last name:</label>
  <input class="input-pro" type="text" id="last_name" name="last_name"><br><br>


  <label for="address">Address:</label>
  <input class="input-pro"  type="text" id="address" name="address" ><br><br>

    <label for="phone">Phone:</label>
  <input class="input-pro"  type="text" id="phone" name="phone" ><br><br>

  <label for="email" >Email:</label>
  <input class="input-pro"  type="text" id="email" name="email"><br><br>


  <button class="gooey-button">
        Save
        <span class="bubbles">
            <span class="bubble"></span>
            <span class="bubble"></span>
            <span class="bubble"></span>
            <span class="bubble"></span>
            <span class="bubble"></span>
            <span class="bubble"></span>
            <span class="bubble"></span>
            <span class="bubble"></span>
            <span class="bubble"></span>
            <span class="bubble"></span>
        </span>
    </button>
      <button class="gooey-button">
        Cancel
        <span class="bubbles">
            <span class="bubble"></span>
            <span class="bubble"></span>
            <span class="bubble"></span>
            <span class="bubble"></span>
            <span class="bubble"></span>
            <span class="bubble"></span>
            <span class="bubble"></span>
            <span class="bubble"></span>
            <span class="bubble"></span>
            <span class="bubble"></span>
        </span>
    </button>


  {{!-- <button class="pro-btn" type="submit" value="Submit">Save</button>
  <button class="pro-btn" type="reset" value="Reset">Cancel</button> --}}
</form>