{{!-- <h1> Hi, user.first_name</h1> --}}

<form>
  <label for="first_name">First name:</label>

  <input type="text" id="first_name" name="first_name"><br><br>

  <label for="last_name">Last name:</label>
  <input type="text" id="last_name" name="last_name"><br><br>


  <label for="address">Address:</label>
  <input type="text" id="address" name="address" ><br><br>

    <label for="phone">Phone:</label>
  <input type="text" id="phone" name="phone" ><br><br>

  <label for="email" >Email:</label>
  <input type="text" id="email" name="email"><br><br>

  <input type="submit" value="Submit">
</form>

<logo>
    <img src="../Skriptz.jpg" alt="Skriptz logo" style="border: 5px inset black;">
</logo>


{{!-- <div class="bg"></div>
<div class="bg bg2"></div>
<div class="bg bg3"></div>
<div class="content">
  <h1>Sliding Diagonals Background Effect</h1>
</div> --}}



{{!-- <div>
    <h1>Hi, {{user.first_name}}</h1>
</div> --}}
{{!-- <section>
<img>Pro picture</img>
</section>

<div>
<input>Name:</input>
</div>

<div>
<input>Address:</input>
</div>

<div>
<input>Phone:</input>
</div>

<div>
<input>Email:</input>
</div> --}}




